<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/images/fevicon.png" type="image/png" />
  <title>Eiser ecommerce</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/user/bootstrap.css" />
  <link rel="stylesheet" href="/vendors/users/linericon/style.css" />
  <link rel="stylesheet" href="/stylesheets/user/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/user/themify-icons.css" />
  <link rel="stylesheet" href="/stylesheets/user/flaticon.css" />
  <link rel="stylesheet" href="/vendors/users/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="/vendors/users//lightbox/simpleLightbox.css" />
  <link rel="stylesheet" href="/vendors/users/nice-select/css/nice-select.css" />
  <link rel="stylesheet" href="/vendors/users/animate-css/animate.css" />
  <link rel="stylesheet" href="/vendors/users/jquery-ui/jquery-ui.css" />
  <!-- main css -->
  <link rel="stylesheet" href="/stylesheets/user/style.css" />
  <link rel="stylesheet" href="/stylesheets/user/responsive.css" />
</head>

{{>userheader}}

<!--================Cart Area =================-->
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
        <h2>Orders</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Product</th>
              <th scope="col">Delivering To</th>
              <th scope="col">Quantity</th>
              <th scope="col">offerprice</th>
              <th scope="col">Payed</th>
              <th scope="col">Method</th>
              <th scope="col">Status</th>
              <th scope="col">OrderDate</th>
            </tr>
          </thead>
          <tbody>
            {{#if orders}}
            {{#each orders}}
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="/product/{{this.products.imagefileName.[0]}}" alt=""
                      style="height:100px; width: 100px; border-radius: 15px;" />
                  </div>
                </div>
              </td>
              <td> 
                <div class="media-body">
                  <p>{{this.products.product}}</p>
                </div>
              </td>
              <td>
                {{this.Name}}
                <br>
                {{this.DeliveryAddress.address}},
                {{this.DeliveryAddress.city}}
                {{this.DeliveryAddress.pin}}
              </td>
              <td>{{this.quantity}}</td>
              <td>{{this.products.offerprice}}</td>
              <td>{{this.productTotal}}</td>
              <td>
                <h5>{{this.payment}}</h5>
              </td>
              <td>
                <div class="media-body">
                  <p>{{this.status}}</p>
                </div>
              </td>
              <td>
                <div class="media-body">
                  <p>{{this.orderDate}}</p>
                </div>
              </td>
              <td>
                {{#if this.none}}
                {{else}}
                {{#if this.return}}
                {{else}}
                {{#if this.delivered}}
                <a href="/return/{{this._id}}/{{this.product}}" class="genric-btn info-border circle">Return</a>
                {{else}}
                <a href="/cancelOrder/{{this._id}}/{{this.product}}" class="genric-btn danger-border circle">Cancel</a>
              {{/if}}
              {{/if}}
              {{/if}}
              </td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td >
                <H2>ThereAre No Orders</H2>
                <a class="main_btn m-2 ml-5" href="/shop">Shop Now</a>
              </td>
              <td></td>
              <td></td>
            </tr>
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->

<!--================ start footer Area  =================-->
<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>Top Products</h4>
        <ul>
          <li><a href="#">Managed Website</a></li>
          <li><a href="#">Manage Reputation</a></li>
          <li><a href="#">Power Tools</a></li>
          <li><a href="#">Marketing Service</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Brand Assets</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>Features</h4>
        <ul>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Brand Assets</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>Resources</h4>
        <ul>
          <li><a href="#">Guides</a></li>
          <li><a href="#">Research</a></li>
          <li><a href="#">Experts</a></li>
          <li><a href="#">Agencies</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 single-footer-widget">
        <h4>Newsletter</h4>
        <p>You can trust us. we only send promo offers,</p>
        <div class="form-wrap" id="mc_embed_signup">
          <form target="_blank"
            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
            method="get" class="form-inline">
            <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Your Email Address '" required="" type="email">
            <button class="click-btn btn btn-default">Subscribe</button>
            <div style="position: absolute; left: -5000px;">
              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
            </div>

            <div class="info"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-bottom row align-items-center">
      <div class="col-lg-4 col-md-12 footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
      </div>
    </div>
  </div>
</footer>
<!--================ End footer Area  =================-->

<script src="/javascripts/user/jquery-3.2.1.min.js"></script>
<script src="/javascripts/user/popper.js"></script>
<script src="/javascripts/user/bootstrap.min.js"></script>
<script src="/javascripts/user/stellar.js"></script>
<script src="/vendors/users/lightbox/simpleLightbox.min.js"></script>
<script src="/vendors/users/nice-select/js/jquery.nice-select.min.js"></script>
<script src="/vendors/users/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/vendors/users/isotope/isotope-min.js"></script>
<script src="/vendors/users/owl-carousel/owl.carousel.min.js"></script>
<script src="/javascripts/user/jquery.ajaxchimp.min.js"></script>
<script src="/javascripts/user/mail-script.js"></script>
<script src="/vendors/users/jquery-ui/jquery-ui.js"></script>
<script src="/vendors/users/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendors/users/counter-up/jquery.counterup.js"></script>
<script src="/javascripts/user/theme.js"></script>
</body>

</html>